.terraform/
*.tfstate*
.terraform.lock.hcl
terraform.tfvars
crash.log

**/test/.terraform/
**/test/*.tfstate
**/test/*.tfstate.backup
**/test/go.mod
**/test/go.sum

.coverage

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars.backup
**/*.backup
**/*.bin
**/*.tfplan
**/tfplan.json
**/tfplan.binary